.summary-box-name-heading {
  margin: 0;
}

.summary-box {
  display: inline-grid;
  grid-template-columns: auto auto;
  column-gap: 0.5rem;
}

@media (max-width: 44rem) {
  .summary-box {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }
}

.summary-box-image {
  max-width: 100px;
}

.indent {
  padding-left: 1rem;
}


.cv-item {
  margin-bottom: 1rem;
}

.faith-in-strangers {
  max-width: 10rem;
}

.faith-in-strangers-image-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faith-in-strangers-box {
  display: inline-grid;
  grid-template-rows: auto auto;
}
