body {
    padding: 0;
    margin: 0 auto;
    font-family: equity_ot_a, serif;
    font-size: 1.4rem;
    color: #242424;
}

@media (max-width: 44rem) {
    body {
        font-size: 1.1rem;
    }
}

.text-content {
    line-height: 1.4;
}

.ui-content {
    font-family: heliotrope_ot_4_medium, system-ui, sans-serif;
}

.ui-content-thick {
    font-family: heliotrope_ot_6_semibold, system-ui, sans-serif;
}

main {
    padding: 1rem;
    max-width: 80ch;
    margin: 0 auto;
}

p {
    max-width: 650px;
}

h1 {
    font-size: 2.2rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.8rem;
}

h1, h2, h3, h4, h5, h6 {
    color: #000000;
    font-family: heliotrope_ot_8_black, system-ui, sans-serif;
    font-weight: normal;
}

.navigation-bar {
    display: flex;
    background-color: black;
}

.navigation-bar-item {
    padding: 0.25rem 0.5rem;
    color: white;
    text-decoration: none;
}

.navigation-bar-item:hover {
  background-color: white;
  color: black;
}

.navigation-bar-item.active {
  background-color: white;
  color: black;
}

/* For code highlighting */



code:not(.code-block > code) {
  color: #000;
  font-size: 0.95rem;
  background: #F2F2F2;
  padding: 1px 5px;
}

.code-block {
    color: black;
    font-size: 1rem;
    white-space: pre-wrap;
}

.code-block {
    border: 1px #d2d2d2 solid;
    padding: 20px;
}

@media (max-width: 44rem) {
    .code-block {
        padding: 5px;
    }
}

/* For Guile highlighting */

.guile-paren-0 {
  color: #000000;
}

.guile-paren-1 {
  color: #a8007f;
}

.guile-paren-2 {
  color: #005f88;
}

.guile-paren-3 {
  color: #904200;
}

.guile-paren-4 {
  color: #7f10d0;
}

.guile-paren-5 {
  color: #006800;
}

.guile-paren-6 {
  color: #b60000;
}

.guile-paren-7 {
  color: #1f1fce;
}

.guile-string {
  color: green;
}

.guile-number {
  color: blue;
}

.guile-boolean {
  color: blue;
}

.guile-important-symbol {
  color: purple;
}

.guile-keyword {
  color: magenta;
}

.guile-comment {
  color: grey;
}



.blog-listing-title {
    color: black;
    text-decoration: none;
    border-bottom: 1px solid #bfbfbf;
    font-family: heliotrope_ot_6_semibold;
    font-weight: normal;
}

.blog-listing-heading {
   margin: 10px 0 10px 0;
}

.blog-listing-header {
}

.blog-listing-date {
    color: #686868;
}
