.music-table {
  border-collapse: collapse;
}

.music-table thead {
  text-align: left;
  border-bottom: 1px solid black;
}

.music-table tbody tr:nth-child(even) {
  background-color: rgb(247, 247, 247);
}

.music-table td, .music-table th {
  padding: 0.1rem 0 0.1rem 1rem;
}
